#cotecmar-logo {
    width: 60px;
    height: 60px;
    border: solid 1px black;
    padding: 10px;
}


.content-title {
    position: absolute;
    text-align: center;
    height: 66px;
    width: 88%;
    top: 0;
    border: solid 1px black;
    left: 81px;
    color: gray;
}

h4 {
    margin-top: 5px;
    text-transform: uppercase;
}

h5 {
    text-transform: uppercase;
    margin-top: -15px;
}

.code-format {
    position: absolute;
    top: 67px;
    border: solid 1px black;
    left: 81px;
    font-size: 9px;
    padding: 1px 70px;
}

.version-format {
    position: absolute;
    top: 67px;
    border: solid 1px black;
    left: 320px;
    font-size: 9px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 49px;
}

.aprobacion-format {
    position: absolute;
    top: 67px;
    border: solid 1px black;
    left: 441px;
    font-size: 9px;
    padding: 1px 60px;
    white-space: nowrap;
}